# CTA API Keys - Get free keys at:
# Train Tracker: https://www.transitchicago.com/developers/traintracker/
# Bus Tracker: https://www.transitchicago.com/developers/bustracker/
VITE_CTA_TRAIN_API_KEY=your_train_tracker_api_key_here
VITE_CTA_BUS_API_KEY=your_bus_tracker_api_key_here
